.wrapper {
  flex-direction: column;
  align-items: center;
}

.content_wrapper {
  display: grid;
  grid-template-columns: repeat(100, minmax(275px, 320px));
  column-gap: var(--mb-5);
  width: 95%;
  overflow-x: auto;
}

.content_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--backgroundText);
}

.content_wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: var(--backgroundText);
  border-radius: 10px;
}

.content_wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
}

/* Media Queries */

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .content_wrapper {
    column-gap: var(--mb-3);
  }
}
